<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__column">
                <a class="footer__logo" href="">
                    <img src="./img/logo.svg" alt="">
                </a>
                <p class="footer__losung">деньги под залог автотранспорта<br> в Санкт-Петербурге</p>
                <a class="footer__tel" href="tel:+8812255599">7 012 999 99-99</a>

            </div>

            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Главная</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Займы</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Документы</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Требования для займа</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Полезное</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Вопросы и ответы</a>

                </li>
            </ul>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">О компании</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Отзывы</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Контакты</a>

                </li>

            </ul>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог авто</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог ПТС</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог Спецтехники</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог грузового транспорта</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог мототехники</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог водного транспорта</a>

                </li>
            </ul>
            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог авто</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог ПТС</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог Спецтехники</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог грузового транспорта</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог мототехники</a>

                </li>
                <li class="footer__nav-item">
                    <a class="footer__nav-link" href="">Залог водного транспорта</a>

                </li>
            </ul>
        </div>
        <div class="footer__medium">
            <a href="">Политика обработки персональных данных</a>
            <a href=""> Политика в отношении файлов cookie</a>
            <a href="">Пользовательское соглашение</a>

        </div>

    </div>
</footer>
<div class="footer__bottom">
    <div class="container">
        <span class="copyright">© 2021 Pawnshop "ZALOG AUTO"</span>
        <span class="madeby">Сделано в <a href="">АртФактор</a></span>
    </div>

</div>


<div class="form-popup" style="display: none;" id="popup-zaim">
    <h3 class="form-popup__title">оформить займ</h3>
    <p class="form-popup__desc">Отправьте заявку и наши специалисты свяжутся с вами в ближайшее время</p>

    <form action="" method="post">


        <input class="input" type="text" placeholder="Ваше имя">
        <input class="input" type="tel" placeholder="Ваш телефон">
        <textarea class="input" required placeholder="Комментарий"></textarea>
        <button data-fancybox data-src="#popup-modal-ok" type="submit" class="button button__red">Отправить заявку</button>
        <p class="order-bottom__licenses">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <a href="" target="_blank">политикой конфиденциальности.</a></p>

    </form>

</div>


<div class="modal modal-ok" style="display: none;" id="popup-modal-ok">
    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M48.5703 6.83546C47.8347 6.09865 46.6413 6.09738 45.9057 6.83234L23.299 29.3794L15.1426 20.5207C14.4378 19.7557 13.2462 19.7061 12.4799 20.4108C11.7141 21.1155 11.6651 22.3077 12.3699 23.0735L21.8549 33.3743C22.2022 33.7519 22.6884 33.9711 23.201 33.9818C23.2147 33.9823 23.228 33.9823 23.2412 33.9823C23.7393 33.9823 24.2185 33.7845 24.5716 33.4327L48.5666 9.5006C49.304 8.76574 49.3052 7.57228 48.5703 6.83546Z" fill="#FB0937"/>
        <path d="M48.1155 23.1155C47.0747 23.1155 46.2312 23.9591 46.2312 25C46.2312 36.7073 36.7073 46.2312 25 46.2312C13.2934 46.2312 3.76885 36.7073 3.76885 25C3.76885 13.2934 13.2934 3.76885 25 3.76885C26.0408 3.76885 26.8845 2.92529 26.8845 1.88447C26.8845 0.843555 26.0408 0 25 0C11.2148 0 0 11.2148 0 25C0 38.7846 11.2148 50 25 50C38.7846 50 50 38.7846 50 25C50 23.9592 49.1564 23.1155 48.1155 23.1155Z" fill="#FB0937"/>
    </svg>
    <div class="modal-ok__text">
        <h2>Спасибо</h2>
        <p>С вами свяжутся в ближайшее время</p>
    </div>

</div>



<script src="https://cdn.polyfill.io/v2/polyfill.js">
</script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="./js/script.min.js?v=6"></script>


</body>

</html>