<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Залог Авто</title>
    <link rel="stylesheet" href="./css/style.min.css?v=1">

</head>

<body id="up">

    <header class="header">
        <div class="container">
            <div class="header__wrap">
                <a class="header__logo" href="">
                    <img src="./img/logo.svg" alt="">
                    <p class="header__losung">
                        деньги под залог автотранспорта<br> в Санкт-Петербурге
                    </p>
                </a>


                <div class="header__phone">

                    <div class="header__phone-wrap">
                        <a class="header__tel" href="tel:+88121255599">7 012 999 99-99</a>
                        <a class="header__call-link" href="">Заказать звонок</a>

                        <div style="margin-top: 5px;">
                            <a href=" https://api.whatsapp.com/send?phone=77079389810"><img src="./img/whatsapp.svg" alt=""></a>
                            <a href="https://telegram.me/YourUsername"><img src="./img/telegram.svg" alt=""></a>
                        </div>
                    </div>
                    <a class="button__red" href="#popup-zaim" data-fancybox>
                        получить деньги
                    </a>
                </div>
                <button class="burger cross"><span class="middle"></span></button>
            </div>

        </div>
        <nav class="header__nav">
            <div class="header__nav-bottom">

                <span class="target"></span>
                <ul class="header__nav-list">
                    <li class="current">
                        <a href="">Займы</a>
                    </li>
                    <li>
                        <a href="">Требования для займа</a>
                    </li>
                    <li>
                        <a href="">Документы</a>
                    </li>
                    <li>
                        <a href="">Полезное</a>
                    </li>
                    <li>
                        <a href="">Вопросы и ответы</a>
                    </li>
                    <li>
                        <a href="">О компании</a>
                    </li>

                    <li>
                        <a href="">Отзывы</a>
                    </li>
                    <li>
                        <a href="">Контакты</a>
                    </li>
                </ul>

                <form action="" class="search">
                    <div class="search__wrap">
                        <input type="search" placeholder="Поиск">
                        <button type="submit">
                            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="9.16667" cy="9.16667" r="8.16667" stroke="black" stroke-width="2"/>
                                <path d="M15 15L19.1667 20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>    
                         </button>
                    </div>

                </form>
            </div>
        </nav>
    </header>

    <nav class="header__mobile-nav">
        <ul class="header__mobile-list">
            <li class="has-child">
                <a href="">Займы</a>
                <svg class="has-child__arrow" width="14" height="9" viewBox="0 0 14 9" fill="#111111" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.79127 -7.05719e-05L10.2113 -7.05719e-05C10.5437 -0.000551878 10.8694 0.0931148 11.1508 0.270088C11.4322 0.447062 11.6577 0.700105 11.8013 0.999929C11.9693 1.35567 12.034 1.75146 11.9881 2.1422C11.9421 2.53293 11.7873 2.9029 11.5413 3.20993L7.33127 8.30993C7.16606 8.50056 6.96179 8.65344 6.73232 8.75823C6.50285 8.86301 6.25354 8.91724 6.00127 8.91724C5.74901 8.91724 5.4997 8.86301 5.27023 8.75823C5.04075 8.65344 4.83649 8.50056 4.67127 8.30993L0.461272 3.20993C0.215266 2.9029 0.0604581 2.53293 0.0144892 2.1422C-0.0314797 1.75146 0.0332413 1.35567 0.201274 0.999929C0.344816 0.700105 0.570332 0.447062 0.85172 0.270088C1.13311 0.0931148 1.45886 -0.000551878 1.79127 -7.05719e-05Z" />    
                </svg>
                <ul class="sublist">
                    <li>
                        <a href="">Займы под залог </a>
                    </li>
                    <li>
                        <a href="">Залог ПТС </a>
                    </li>
                    <li>
                        <a href="">Займы спецтехники </a>
                    </li>
                    <li>
                        <a href="">Займы под залог </a>
                    </li>
                    <li>
                        <a href="">Залог ПТС </a>
                    </li>
                    <li>
                        <a href="">Займы спецтехники </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">Требования для займа</a>
            </li>
            <li>
                <a href="">Документы</a>
            </li>
            <li>
                <a href="">Вопросы и ответы</a>
            </li>
            <li>
                <a href="">О компании</a>
            </li>
            <li>
                <a href="">Отзывы</a>
            </li>
            <li>
                <a href="">Контакты</a>
            </li>

        </ul>
        <form action="" class="search-mobile">
            <div class="search__wrap">
                <input type="search" placeholder="Поиск">
                <button type="submit">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9.16667" cy="9.16667" r="8.16667" stroke="black" stroke-width="2"/>
                        <path d="M15 15L19.1667 20" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>    
                 </button>
            </div>

        </form>
    </nav>