<section class="order-bottom">
    <div class="container">
        <h2>оформить займ</h2>
        <p>Отправьте заявку и наши специалисты свяжутся с вами в ближайшее время</p>
        <form class="order-bottom__form" action="">
            <div class="order-bottom__form-wrap">
                <input class="input" type="text" placeholder="Ваше имя">
                <input class="input" type="tel" placeholder="Ваш телефон">
                <button type="submit" class="button button__black" data-fancybox data-src="#popup-modal-ok">Отправить заявку</button>
                <p class="order-bottom__licenses">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <a href="" target="_blank">политикой конфиденциальности.</a></p>
            </div>

        </form>
    </div>
</section>