<section class="order">
    <div class="container">
        <div class="order__wrap">
            <h2 class="order__title">подать заявку</h2>

            <form class="order__form" action="">
                <div class="order__form-wrap">
                    <input class="input" type="text" placeholder="Ваше имя">
                    <input class="input" type="tel" placeholder="Ваш телефон">
                    <button type="submit" class="button button__red" data-fancybox data-src="#popup-modal-ok">Отправить</button>
                    <p class="order__licenses">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с <a href="" target="_blank">политикой конфиденциальности.</a></p>
                </div>

            </form>
        </div>
    </div>
</section>