.results_search-body {
    margin-top: 20px;
    margin-bottom: 100px;
    & a {
        display: block;
        padding: 30px 0;
        border-bottom: 1px solid $color-red;
    }
    & h3:not(:last-child) {
        margin-bottom: 20px;
    }
}